// 자주 사용하는 값 변수로 만들어 사용가능
$background-color: #22b8cf;

.TodoTemplate { 
   width: 512px; 
   margin: 6rem auto; 
   // html 기준으로 18*6 = 108px
   border-radius: 4px; 
   overflow: hidden;

   // TodoTemplate의 자식 
   .app-title { 
      background: $background-color;
      color: #fff;
      height: 4rem;
      font-size: 1.5rem;
      display: flex; 
      justify-content: center;
      align-items: center;
   }
   .content { 
      background: #fff;
   }
}